@use '@/assets/scss/abstracts/_variables.scss' as *;

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  border: 1px solid $color-black;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  letter-spacing: 0.05rem;

  img {
    font-size: 2rem;
  }
}
